* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  text-decoration-line: none;
}
#root {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.box .box-Login > :nth-child(2){
  width: 300px;
}

#lbl-Join {
  color: blue;
}

.box {
  display: flex;
  width: 350px;
  margin: 10px 0 10px 0;
  justify-content: space-between;
  align-items: center;
}
.lbl {
  color: rgba(217, 217, 217, 1);
  font-size: 20px;
}

.txt {
  background-color: rgba(217, 217, 217, 1);
  border: none;
  border-radius: 3px;
  width: 300px;
  height: 35px;
  padding: 10px;
  font-weight: bold;
}

#txt-Text {
  height: 300px;
}

.hotpink {
  background-color: rgba(255, 102, 102, 1);
  color: white;
}